<h1 mat-dialog-title>Create Post</h1>
<div mat-dialog-content>
  <form></form>
  <div class="example-form">
    <mat-form-field>
      <input
        matInput
        name="pst.title"
        [(ngModel)]="pst.title"
        placeholder="Title"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="pst.description"
        [(ngModel)]="pst.description"
        placeholder="Description"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select
        name="pst.category"
        [(ngModel)]="pst.category"
        disableRipple
        required
      >
        <mat-option value="travel">Travel</mat-option>
        <mat-option value="lifestyle">Lifestyle</mat-option>
        <mat-option value="business">Business</mat-option>
        <mat-option value="vacation">Vacation</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        value="https://source.unsplash.com/random"
        matInput
        placeholder="URL of the image"
        required
      />
    </mat-form-field>
    <mat-error
      *ngIf="pst.title === '' || pst.description === '' || pst.category === '' || pst.image === ''"
      >{{getErrorMessage()}}</mat-error
    >
  </div>
</div>
<div mat-dialog-actions class="buttons">
  <button
    mat-raised-button
    color="primary"
    (click)="onAddPost()"
    [mat-dialog-close]="pst"
    *ngIf="pst.title === '' || pst.description === '' || pst.category === '' || pst.image === ''"
  >
    Save
  </button>
  <button mat-button cdkFocusInitial (click)="onNoClick()">Cancel</button>
</div>
