mat-dialog-content{
  text-align: center;
}

mat-form-field{
  display: block;
  padding-bottom: 1.25rem;
}

h1{
padding-bottom: 20px;
padding-top: 20px;
text-align: center;
}

.example-form{
  padding: 10px;
}