.row {
  margin: 0;
}

.buttons {
  display: block;
  text-align: center;
  padding-bottom: 1.5rem;
}

mat-button-toggle {
  display: inline-block;
  width: 5rem;
}

.mat-button-toggle-group-appearance-standard {
  border: none;
  margin-bottom: 2px;
}

mat-button-toggle-group {
  margin-right: 2px;
}

.container {
  width: 100%;
}

.card {
  height: 22rem;
  background-color: none;
  background-size: 100% 100%;
  border-radius: 0;
  border: none;
  position: relative;
  background-position: 50%;

  &:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    transition: all 0.35s ease-in-out;
  }

  &-img-overlay {
    padding: 3rem 3rem 3rem 2rem;
  }

  &-title {
    font-size: 2.25rem;
    padding-top: 5rem;
    padding-bottom: 0.75rem;
    line-height: 30px;
  }
}

.example-button-container {
  position: fixed;
  top: 10rem;
  right: 2rem;
  border: none;
}

.post {
  &-actions {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    opacity: 0;
    &:hover {
      visibility: visible;
      opacity: 1;
      transition: all 0.5s;
    }

    &-count {
      font-style: italic;
      font-size: 1rem;
      padding-top: 1rem;
    }
  }
}

.icon-comment {
  font-size: 1rem;
}

.example-container {
  align-items: center;
  flex-direction: column;
  position: static;
}

.example-container > * {
  width: 100%;
}
.table {
  display: block;
}

.icon {
  font-size: 2rem;
}

@media (max-width: 575.98px) {
  .card-title {
    line-height: 30px;
    padding-top: 1rem;
  }
  .card-img-overlay {
    padding-top: 3rem;
  }

  mat-button-toggle-group {
    flex-wrap: wrap;
    text-align: center;
  }
}
