<div class="buttons">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      value="bold"
      *ngFor="let cat of category"
      (click)="setCategory(cat)"
      >{{ cat | titlecase }}</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>

<div class="table">
  <div class="row">
    <div
      *ngFor="let post of obs | async | filter: filter.category:'category'"
      class="card text-white col-12 col-sm-6"
      style="background-image: url('{{ post.image }}')"
    >
      <div class="card-img-overlay" [routerLink]="['../posts', post.id]">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="post-count">
          {{ post.comments.length }} Comments
          <mat-icon class="icon-comment">comment</mat-icon>
        </p>
        <p class="card-text">{{ post.shortDescription }}</p>
        <p class="card-text">{{ post.category | uppercase }}</p>
      </div>
      <div class="post-actions">
        <button
          mat-icon-button
          aria-label="Edit icon"
          (click)="openDialogEdit(post)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Delete icon"
          (click)="onDeletePost(post)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="example-button-container">
    <button
      mat-fab
      color="warn"
      aria-label="Example icon button with a home icon"
      (click)="openDialogAdd()"
    >
      <mat-icon>create</mat-icon>
    </button>
  </div>
</div>
