
<div class="buttons">
  <div class="header-buttons">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold" (click)="setCategory('All')"
      >All</mat-button-toggle
    >
    <mat-button-toggle value="travel" (click)="setCategory('travel')"
      >Travel</mat-button-toggle
    >
    <mat-button-toggle value="lifestyle" (click)="setCategory('lifestyle')"
      >Lifestyle</mat-button-toggle
    >
    <mat-button-toggle value="business" (click)="setCategory('business')"
      >Business</mat-button-toggle
    >
    <mat-button-toggle value="vacation" (click)="setCategory('vacation')"
      >Vacation</mat-button-toggle
    >
    <mat-button-toggle value="other" (click)="setCategory('other')"
      >Other</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>
</div>

<div class="table">
  <div class="row">
    <div
      *ngFor="let post of posts | filter: filter.category:'category'"
      class="card text-white col-12 col-sm-6"
      style="background-image: url('{{ post.image }}')"
      [routerLink]="['../posts', post.id]"
    >
      <div class="card-img-overlay">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="post-count">
          {{ post.comments.length }} Comments
          <mat-icon class="icon-comment">comment</mat-icon>
        </p>
        <p class="card-text">{{ post.shortDescription }}</p>
        <p class="card-text">{{ post.category | uppercase }}</p>
      </div>
      <div class="post-actions">
        <button mat-button class="icon" (click)="openDialogEdit(post)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button class="icon" (click)="onDeletePost(post)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="example-button-container">
    <button
      mat-fab
      color="warn"
      aria-label="Example icon button with a home icon"
      (click)="openDialogAdd()"
    >
      <mat-icon>create</mat-icon>
    </button>
  </div>
</div>
